*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f4f8fb;
}


header{

    background:#0066cc;
    color:white;

    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}



nav a{

    color:white;
    text-decoration:none;
    margin:15px;

}



.hero{

    height:400px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:#dff1ff;

}


.hero h2{

    font-size:40px;
    margin-bottom:15px;

}


.hero p{

    font-size:20px;

}


button{

    margin-top:20px;

    padding:12px 25px;

    background:#0066cc;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

}

#doctors{

    padding:40px;

}


#doctors h2{

    text-align:center;

    margin-bottom:30px;

}



.doctor-container{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}



.doctor-card{


    background:white;

    width:260px;

    padding:25px;

    border-radius:10px;


    box-shadow:0 0 10px rgba(0,0,0,0.2);


    text-align:center;


}



.doctor-card h3{

    color:#0066cc;

    margin-bottom:15px;

}



.doctor-card p{

    margin:10px;

}
#appointment{

    padding:40px;

}



#appointment h2{

    text-align:center;

    margin-bottom:30px;

}



#appointmentForm{


    width:350px;

    margin:auto;

    display:flex;

    flex-direction:column;


}



#appointmentForm input,
#appointmentForm select{


    padding:12px;

    margin:10px;

    border:1px solid gray;

    border-radius:5px;


}



#appointmentForm button{


    width:200px;

    margin:15px auto;


}